<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Work</h1>
    <form action="/" method="POST">
    <input type="text" placeholder="username" name="username"style=margin-left: 0.5rem>
    <input type="password" placeholder="password" name="password"style=margin-left: 0.5rem>
    <button type="submit" style="margin: 0.5rem 0px">Login</button>
    <a href="/register">register here</a>
  </form>
</body>

</html>

